<div id="page-wrapper" class="gray-bg">
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-title">
          <h5>账号列表</h5>
        </div>

        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-3">
              <a class="btn btn-sm btn-primary m-t-n-xs" href="creator_add_social_account.html" role="button">
                <strong>新增</strong>
              </a>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>渠道</th>
                <th>昵称</th>
                <th>粉丝数</th>
                <th>阅读数</th>
                <th>点赞数</th>
                <th>评论数</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>

      <% @social_accounts.each do |social_account,i| %>
      
              <tr>
                <td><%=i%></td>
                <td><%=social_account.channel_name%></td>
                <td><a href="javascript:;"><%=social_account.nickname%></a></td>
                <td><%=social_account.fans%</td>
                <td><%=social_account.readers%</td>
                <td><%=social_account.praise%</td>
                <td><%=social_account.comments%</td>
                <td>
                  <a href="javascript:;">编辑</a>
                  <a href="javascript:;">删除</a>
                </td>
              </tr>
            <%end%>  
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="pull-right">
          <strong>GonPush.com</strong> &copy; 2018
        </div>
      </div>
    </div>