<p id="notice"><%= notice %></p>

<p>
  <strong>Service name:</strong>
  <%= @service.service_name %>
</p>

<p>
  <strong>Service description:</strong>
  <%= @service.service_description %>
</p>

<p>
  <strong>Service price:</strong>
  <%= @service.service_price %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @service.creator_id %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
