<p id="notice"><%= notice %></p>

<h1>Flows</h1>

<table>
  <thead>
    <tr>
      <th>Flow type</th>
      <th>Flow name</th>
      <th>Flow order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flows.each do |flow| %>
      <tr>
        <td><%= flow.flow_type %></td>
        <td><%= flow.flow_name %></td>
        <td><%= flow.flow_order %></td>
        <td><%= link_to 'Show', flow %></td>
        <td><%= link_to 'Edit', edit_flow_path(flow) %></td>
        <td><%= link_to 'Destroy', flow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flow', new_flow_path %>
