 

 <%= form_with(model: case, local: true,class:'form-horizontal') do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
     

            <div class="form-group"><label class="col-sm-2 control-label">标题 </label>
                  <div class="col-sm-10">
                    <%= form.text_field :case_title, class:'form-control' %>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">链接 </label>
                  <div class="col-sm-10"><%= form.text_field :case_link, class:'form-control' %> </div>
                </div>
                <div class="hr-line-dashed"></div>

               
                <div class="hr-line-dashed"></div>
                 <%= form.hidden_field :case_author,value:"1"%>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                       <%= form.submit '保存',class:'btn btn-primary'%>
                    </div>
                </div>          
    <% end %>



