     <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-title">
          <h5>订单列表</h5>
        </div>

        <div class="ibox-content">
          <div class="clients-list">
            <div class="full-height-scroll">
              <div class="table-responsive">
                  <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>项目名称</th>
                      <th>KOL</th>
                      <th></th>
                      <th>投放预算</th>
                      <th>投放日期</th>
                      <th>状态</th>
                      <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @orders.each_with_index do |order,i| %>  
                    <tr>
                      <td><%=order.id%></td>
                      <td><%=order.name%></td>
                      <td class="client-avatar"><img alt="image" src="img/<%=order.avatar%>"></td>
                      <td><%=order.username%></td>
                      <td>¥<%=order.budget%></td>
                      <td><%=order.start%> </td>
                      <td><span class="label label-primary"><% if order.status=='0' %>待处理
                                                            <%elsif order.status=="1" %>进行中
                                                            <%elsif order.status=="2" %>已完成
                                                            <%elsif order.status=="4" %>已关闭
                                                            <%elsif order.status=="5" %>已取消
                                                            <%else%>不确定
                                                            <%end%>
                                                          </span></td>
                      <td><a href="/getOrder?id=<%=order.id%>">查看</a></td>
                    </tr>
                    <%end%>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>