<div id="page-wrapper" class="gray-bg">
  <div class="row border-bottom">
    <div class="ibox-title">
      <p>订单号：<strong>003214</strong></p>

      <input type="hidden" id="order_id" value=6>
      <input type="hidden" id="user_id" value=12>
      
    </div>
  </div>

  <div class="fh-breadcrumb">
    <div class="fh-column">
      <div class="full-height-scroll">
        <ul class="list-group elements-list">
            <li class="list-group-item active">
              <a data-toggle="tab" href="#tab-1">
                <span class="pull-right badge badge-danger">10</span>
                <strong>需求详情</strong>
                <div class="small m-t-xs">
                  <span class="label pull-right label-primary"></span>
                  <i class="fa fa-clock-o"></i> 2018-09-12 12:00
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a data-toggle="tab" href="#tab-2">
                <span class="pull-right badge badge-danger">10</span>
                <strong>要点提炼</strong>
                <div class="small m-t-xs">
                  <span class="label pull-right label-primary"></span>
                  <i class="fa fa-clock-o"></i> 2018-09-12 12:00
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a data-toggle="tab" href="#tab-3">
                <span class="pull-right badge badge-danger">10</span>
                <strong>创意大纲</strong>
                <div class="small m-t-xs">
                  <span class="label pull-right label-primary"></span>
                  <i class="fa fa-clock-o"></i> 2018-09-12 12:00
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a data-toggle="tab" href="#tab-4">
                <span class="pull-right badge badge-danger">10</span>
                <strong>具体脚本</strong>
                <div class="small m-t-xs">
                  <span class="label pull-right label-primary"></span>
                  <i class="fa fa-clock-o"></i> 2018-09-12 12:00
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a data-toggle="tab" href="#tab-5">
                <span class="pull-right badge badge-danger">10</span>
                <strong>绘图视频</strong>
                <div class="small m-t-xs">
                  <span class="label pull-right label-primary"></span>
                  <i class="fa fa-clock-o"></i> 2018-09-12 12:00
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a data-toggle="tab" href="#tab-6">
                <span class="pull-right badge badge-danger">10</span>
                <strong>排版成稿</strong>
                <div class="small m-t-xs">
                  <span class="label pull-right label-primary"></span>
                  <i class="fa fa-clock-o"></i> 2018-09-12 12:00
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a data-toggle="tab" href="#tab-7">
                <span class="pull-right badge badge-danger">10</span>
                <strong>合作评价</strong>
                <div class="small m-t-xs">
                  <span class="label pull-right label-primary"></span>
                  <i class="fa fa-clock-o"></i> 2018-09-12 12:00
                </div>
              </a>
            </li>
        </ul>
      </div>
    </div>

    <div class="full-height">
      <div class="full-height-scroll white-bg border-left">
          <div class="element-detail-box">
              <div class="tab-content">
                <div id="tab-1" class="tab-pane">
                  <h3>需求详情</h3>
                  <table class="table">
                    <thead>
                    <tr>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><div><strong class="small">项目名称 / 关键信息</strong></div>
                      <small>百雀羚母亲节活动 / 月光宝盒系列</small></td>
                    </tr>
                    <tr>
                      <td>
                        <div><strong class="small">投放日期 / 预算</strong></div>
                        <small>2018-11-17 / 80万 </small>
                        <div><strong class="small">联系方式</strong></div>
                        <small>北京好梦成真文化创意有限公司<br>张先生 / 138 8888 8888</small>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                  <table class="table small">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>项目阶段</th>
                      <th>工作日数</th>
                      <th>交付日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>1</td>
                      <td>要点提炼</td>
                      <td><input type="text" size="2" value="1"></td>
                      <td>2018-10-5</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>创意大纲</td>
                      <td><input type="text" size="2" value="1"></td>
                      <td>2018-10-6</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>具体脚本</td>
                      <td><input type="text" size="2" value="1"></td>
                      <td>2018-10-7</td>
                    </tr>

                    <tr>
                      <td>4</td>
                      <td>绘图/视频</td>
                      <td><input type="text" size="2" value="1"></td>
                      <td>2018-10-8</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>排版成稿</td>
                      <td><input type="text" size="2" value="1"></td>
                      <td>2018-10-9</td>
                    </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-primary btn-sm" type="button">提交排期</button>                 
                </div>

                <div id="tab-2" class="tab-pane">
                  <div class="pull-right">
                    <a href="javascript:;"><!-- 保存 --></a>
                  </div>

                  <h3>要点提炼</h3>
                  <p class="small">提交在线文档链接，推荐使用石墨文档</p>
                  <p>
                    <input type="text" class="form-control form-control-sm" placeholder="https://">
                  </p>

                  <div class="form-group">
                      <button class="btn btn-sm btn-primary" type="button">提交</button>
                  </div>

                  <div class="hr-line-dashed"></div>


                  <div class="feed-activity-list">
                    <!-- STEP 1 -->
                    <!-- Messages List BEGIN -->
                    <% @messages = Message.where(order_id:6,step_order:1) %>
                    <div id="messages_list_1">
                      <%= render @messages %>
                    </div>

                    <div class="input-group">
                      <input type="text" data-behavior="room_speaker_1" class="form-control" id="step_order_1">
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-primary">发布</button>
                      </span>
                    </div>
                    <!-- Messages List END -->
                  </div>
                </div>

                <div id="tab-3" class="tab-pane active">
                  <div class="pull-right">
                    <a href="javascript:;">编辑</a>
                  </div>

                  <h3>创意大纲</h3>
                  <p>
                    <a href="https://shimo.im/docs/njcbckIHiI4dvq2K" target="blank">
                    https://shimo.im/docs/njcbckIHiI4dvq2K
                    </a>
                  </p>
                  <div class="hr-line-dashed"></div>
                  <div class="feed-activity-list">
                    <!-- STEP 2 -->
                    <!-- Messages List BEGIN -->
                    <% @messages = Message.where(order_id:6,step_order:2) %>
                    <div id="messages_list_2">
                      <%= render @messages %>
                    </div>

                    <div class="input-group">
                      <input type="text" data-behavior="room_speaker_2" class="form-control" id="step_order_2">
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-primary">发布</button>
                      </span>
                    </div>
                    <!-- Messages List END -->
                  </div>
                </div>

                <div id="tab-4" class="tab-pane">
                  <div class="pull-right">
                    <a href="javascript:;">编辑</a>
                  </div>

                  <h3>具体脚本</h3>
                  <p>
                    <a href="https://shimo.im/docs/njcbckIHiI4dvq2K" target="blank">
                    https://shimo.im/docs/njcbckIHiI4dvq2K
                    </a>
                  </p>
                  <div class="hr-line-dashed"></div>
                  <div class="feed-activity-list">
                    <!-- STEP 3 -->
                    <!-- Messages List BEGIN -->
                    <% @messages = Message.where(order_id:6,step_order:3) %>
                    <div id="messages_list_3">
                      <%= render @messages %>
                    </div>

                    <div class="input-group">
                      <input type="text" data-behavior="room_speaker_3" class="form-control" id="step_order_3">
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-primary">发布</button>
                      </span>
                    </div>
                    <!-- Messages List END -->
                  </div>
                </div>

                <div id="tab-5" class="tab-pane">
                  <div class="pull-right">
                    <a href="javascript:;">编辑</a>
                  </div>

                  <h3>绘图/视频</h3>
                  <p>
                    <a href="https://shimo.im/docs/njcbckIHiI4dvq2K" target="blank">
                    https://shimo.im/docs/njcbckIHiI4dvq2K
                    </a>
                  </p>
                  <div class="hr-line-dashed"></div>
                  <div class="feed-activity-list">
                    <!-- STEP 4 -->
                    <!-- Messages List BEGIN -->
                    <% @messages = Message.where(order_id:6,step_order:4) %>
                    <div id="messages_list_4">
                      <%= render @messages %>
                    </div>

                    <div class="input-group">
                      <input type="text" data-behavior="room_speaker_4" class="form-control" id="step_order_4">
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-primary">发布</button>
                      </span>
                    </div>
                    <!-- Messages List END -->
                  </div>
                </div>

                <div id="tab-6" class="tab-pane">
                  <div class="pull-right">
                    <a href="javascript:;">编辑</a>
                  </div>

                  <h3>绘图/视频</h3>
                  <p>
                    <a href="https://shimo.im/docs/njcbckIHiI4dvq2K" target="blank">
                    https://shimo.im/docs/njcbckIHiI4dvq2K
                    </a>
                  </p>
                  <div class="hr-line-dashed"></div>
                  <div class="feed-activity-list">
                    <!-- STEP 5 -->
                    <!-- Messages List BEGIN -->
                    <% @messages = Message.where(order_id:6,step_order:5) %>
                    <div id="messages_list_5">
                      <%= render @messages %>
                    </div>

                    <div class="input-group">
                      <input type="text" data-behavior="room_speaker_5" class="form-control" id="step_order_5">
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-primary">发布</button>
                      </span>
                    </div>
                    <!-- Messages List END -->
                  </div>
                </div>

                <div id="tab-7" class="tab-pane">
                  <div class="form-group">
                    <h3>合作评价</h3>
                    <textarea class="form-control" rows="3"></textarea>
                  </div>
                  <button class="btn btn-sm btn-primary">提交</button>
                </div>



              </div>
          </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="pull-right">
      <strong>GonPush.com</strong> &copy; 2018
    </div>
  </div>
</div>