<div id="page-wrapper" class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-title">
          <h5>报道列表</h5>
        </div>

        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-3">
              <a class="btn btn-sm btn-primary m-t-n-xs" href="/reports/new" role="button">
                <strong>新增</strong>
              </a>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>

              <tr>
                <th>#</th>
                <th>标题</th>
                <th>来源</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <% @reports.each_with_index do |report,i| %>
              <tr>
                <td><%=(i+1)%></td>
                <td><a href="<%=report.report_source%>"><%= report.report_title %></a></td>
                <td><%= report.report_source%></td>
                <td>
                  <%= link_to '编辑', edit_report_path(report) %>
                  
                  <a href="/reports/destroy/<%=report.id%>">删除</a>
                </td>
              </tr>
              <% end %>
               
              </tbody>
            </table>
              <%=will_paginate @reports,:class=>"pagination",:previous_label=>"上一页",:next_label=>"下一页"%>
          </div>
        </div>
        </div>
      <div class="footer">
        <div class="pull-right">
          <strong>GonPush.com</strong> &copy; 2018
        </div>
      </div>
    </div>
  </div>